<h1>{{appTitle1}}</h1>
<div *ngIf = 'appStatus'> Div visible si appStatus vaut true</div>
<h1>{{appTitle2}}</h1>
<div *ngFor = 'let lst of appList'>
  <ul>
    <li>{{lst.ID}}</li>
    <li>{{lst.Name}}</li>
  </ul>
</div>
<h1>{{appTitle3}}</h1>
<div *ngFor = 'let lst of appList2'>
  <ul>
    <li>{{lst.ID}}</li>
    <img [src] = 'lst.url'>
  </ul>
</div>
<h1>{{appTitle4}}</h1>
<h1>{{appTitle5}}</h1>
<div>
type something in the Input
   <input [value] = "name" (input) = "name = $event.target.value">
   {{name}}
</div>
<h1>{{appTitle6}}</h1>

<div> 
   {{Status}} 
   <button (click) = "clicked()">Click</button> 
</div> 

<h1>{{appTitle7}}</h1>
<p>Multiplier: {{2 | Multiplier: 10}}</p> 

     